{% autoescape off %}
{% load i18n %}

<body>
  <p>{% trans "Hi" %} {{ user.username }},</p>
  <p>
    {% trans "You requested a password reset for your account. Please follow this link to set a new password:" %}
  </p>
  <p>
    <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">
      {% trans "Reset password" %}
    </a>
  </p>
  <p>{% trans "If you didn't request a password reset, please ignore this email." %}</p>
  <p>{% trans "Sincerely Yours," %}</p>
  <p>{% trans "Your Hangover Team" %}</p>
</body>

{% endautoescape %}
