{% extends "news/base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "SignUp" %}</h1>
<form method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="mb-3">
      <label class="form-label">{% trans "Username" %}</label>
      {{form.username}}
    </div>
    <span>{{form.errors.username}}</span>
  </div>
  <div class="form-row">
    <div class="mb-3">
      <label class="form-label">{% trans "First Name" %}</label>
      {{form.first_name}}
    </div>
    <span>{{form.errors.first_name}}</span>
  </div>
  <div class="form-row">
    <div class="mb-3">
      <label class="form-label">{% trans "Last Name" %}</label>
      {{form.last_name}}
    </div>
    <span>{{form.errors.last_name}}</span>
  </div>
  <div class="form-row">
    <div class="mb-3">
      <label class="form-label">{% trans "Email" %}</label>
      {{form.email}}
    </div>
    <span>{{form.errors.email}}</span>
  </div>
  <div class="form-row">
    <div class="mb-3">
      <label class="form-label">{% trans "Password" %}</label>
      {{form.password1}}
    </div>
    <span>{{form.errors.password1}}</span>
  </div>
  <div class="form-row">
    <div class="mb-3">
      <label class="form-label">{% trans "Confirm password" %}</label>
      {{form.password2}}
    </div>
    <span>{{form.errors.password2}}</span>
  </div>
  <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
</form>
{% endblock %}
